---
import Boilerplate from "../../layouts/Boilerplate.astro";
import HeaderNavBar from "../../components/HeaderNavBar.astro";
import ContentWrapper from "../../components/ContentWrapper.astro";
import ChapterMenu from "../../components/ChapterMenu.astro";
import ChapterMenuWrapper from "../../components/ChapterMenuWrapper.astro"
import fs from "fs";


export function getStaticPaths() {
    let paths = [];
    const curriculums = fs.readdirSync("src/content/academic");

    for (let i = 0; i < curriculums.length; i++) {
        const subjects = fs.readdirSync(`src/content/academic/${curriculums[i]}`);

        for (let j = 0; j < subjects.length; j++) {
            const curriculum = curriculums[i].toLowerCase().replace(" ", "-");
            const subject = subjects[j].toLowerCase().replace(" ", "-");
            
            paths.push({
                params: { curriculum: curriculum, subject: subject },
                props: { curriculum: curriculums[i], subject: subjects[j] }
            });
        }
    }

    return paths;
}

const { curriculum, subject } = Astro.props;
---

<Boilerplate title={subject}>
    <body>
        <HeaderNavBar leftTags={[ curriculum, subject ]} />

        <main>
            <ContentWrapper>
                <h1>{subject}</h1>
            </ContentWrapper>

            <ChapterMenuWrapper>
                <ChapterMenu curriculum={curriculum} subject={subject} />
            </ChapterMenuWrapper>
        </main>
    </body>
</Boilerplate>

<style>

    body { background-color: var(--primary-background-color) }
  
    main { margin: 0 50px 50px }

</style>