---
import Boilerplate from "../layouts/Boilerplate.astro";
import SinglePane from "../layouts/SinglePane.astro";
import HeaderNavBar from "../components/HeaderNavBar.astro";
import ContentWrapper from "../components/ContentWrapper.astro";
import fs from "fs";


export function getStaticPaths() {
  let paths = [];
  const curriculums = fs.readdirSync("src/content/academic");

  for (let i = 0; i < curriculums.length; i++) {
    const subjects = fs.readdirSync(`src/content/academic/${curriculums[i]}`);
    const curriculum = curriculums[i].toLowerCase().replace(" ", "-");

    paths.push({
      params: { curriculum: curriculum },
      props: {
        curriculum: curriculums[i],
        subjects: subjects.map(subject => ({ slug: `${subject.toLowerCase().replace(" ", "-")}/`, title: subject }))
      }});
  }

  return paths;
}

const { curriculum, subjects } = Astro.props;
---

<Boilerplate title={curriculum}>
  <HeaderNavBar leftTags={[ curriculum ]} />

  <SinglePane>
    <ContentWrapper><article>
      <h1>{curriculum}</h1>
    </article></ContentWrapper>

    <ul>
    {subjects.map(subject => (
      <li><a href={subject.slug}>{subject.title}</a></li>
    ))}
    </ul>
  </SinglePane>
</Boilerplate>