---
import { getCollection } from "astro:content";


const { slugPrefix, curriculum, subject } = Astro.props;

let menu = [];
const topics = await getCollection("academic", ({ id, data }) => {
    return id.startsWith(`${curriculum}/${subject}/`) && data.chapter == 0;
});

for (let i = 0; i < topics.length; i++) {
    const topicData = topics[i].data;

    let chapterList = [];
    const chapters = await getCollection("academic", ({ id, data }) => {
        return id.startsWith(`${curriculum}/${subject}/`) && data.topic == topicData.topic && data.chapter > 0;
    });

    for (let j = 0; j < chapters.length; j++) {
        const chapterData = chapters[j].data;

        chapterList[chapterData.chapter - 1] = {
            slug: `${topicData.topic}-${chapterData.chapter}`,
            label: `${topicData.topic}${typeof topicData.topic === "number" ? "." : "-"}${chapterData.chapter}`,
            title: chapterData.title
        };
    }

    menu.push({
        id: topicData.topic,
        label: `${typeof topicData.topic === "number" && Number.isInteger(topicData.topic) ? "TOPIC" : "OPTION"} ${topicData.topic}`,
        title: topicData.title,
        chapters: chapterList
    });
}

menu.sort((a, b) => {
    const idA = a.id;
    const idB = b.id;
    const isNumberA = typeof idA === "number";
    const isNumberB = typeof idB === "number";

    if (isNumberA && isNumberB) {
        return idA - idB;
    } else if (isNumberA && !isNumberB) {
        return -1;
    } else if (!isNumberA && isNumberB) {
        return 1;
    } else {
        return idA.localeCompare(idB);
    }
});
---

<ol>
    {menu.map(topic => (
        <li class="topic">
            <h3>
                <span id="topic-index">{topic.label}: </span>
                {topic.title.toUpperCase()}
            </h3>

            <ol>{topic.chapters.map(chapter => (
                <p id="chapter-index">{chapter.label}</p>
                <li class="chapter"><a href={`${slugPrefix || ""}${chapter.slug}`}>{chapter.title}</a></li>
            ))}</ol>
        </li>
    ))}
</ol>