---
const { color = "light", slugPrefix, leftTags, rightTabs } = Astro.props;

let left = [];
if (leftTags != null && leftTags.length > 0) {

    if (slugPrefix == null) {
        for (let i = 0; i < leftTags.length - 1; i++) left.push({ slug: ("../".repeat(leftTags.length-1-i)), tag: leftTags[i] });
        left.push({ slug: "./", tag: leftTags[leftTags.length-1] });   
    } else {
        for (let i = 0; i < leftTags.length - 1; i++) left.push({ slug: (slugPrefix + "../".repeat(leftTags.length-1-i)), tag: leftTags[i] });
        left.push({ slug: slugPrefix, tag: leftTags[leftTags.length-1] });
    }
}

// header height is 60px
---

<header id={color}>
    <div id="left"><a href="/">Home</a>{left.map(tab => (
        <p>{">"}</p><a href={tab.slug}>{tab.tag}</a>
    ))}</div>

    {(rightTabs != null) && (rightTabs.length > 0) && <div id="right">{rightTabs.map(tab => (
        <a href={`${tab.slug}/`}>{tab.tag}</a>
    ))}</div>}
</header>

<style>

    header {
        width: 100%;
        height: fit-content;
        padding: 15px 0 20px;
        display: flex;
        justify-content: space-between;
    }

    #left, #right { display: flex }

    #left {
        margin: 0 60px;
        gap: 20px;
    }

    #right {
        margin-right: 60px;
        gap: 40px;
        align-items: end;
    }

    p, a {
        font-family: "Akkurat";
        font-size: 20px;
        color: inherit;
    }

    #light { color: var(--heading-color) }
    #dark { color: var(--secondary-background-color) }
    #yellow { color: var(--highlight-color) }

</style>